.catalog {
    width: 100%;

    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        padding: 20px 0;
        background: #0f0f0f;
        text-transform: uppercase;

        &::after {
            content: '';
            width: 120px;
            height: 1px;
            margin-top: 16px;
            background: #fff;
        }
    }

    &__cads {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1000px;
        width: 90%;
        margin: auto;
        padding: 30px 0;
        margin-bottom: 30px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__img {
        max-width: 455px;
        max-height: 361px;
        width: 90%;
        margin-top: 33px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        margin-top: 25px;
    }
}

.dyes {
    &__card {
        position: relative;
    }

    &__hit {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 10px;

        background: #fff;
        color: #0f0f0f;
        top: 40px;
        right: 5px;
    }

    &__img {
        width: 220px;
        height: 202px;
    }
}
