.delivery{
    &-block{
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        width: 95%;
        margin: auto;
        min-height: 350px;
        padding: 30px 0px;
        justify-content: start;
        align-items: center;
        &__first{
            padding-top: 30px;
        }
        &__last{
            text-align: center;
            justify-content: center;
        }

        
    }
    &-dark{
        background: #0F0F0F;
    }
    &-gray{
        background: #1B1B1C;
    }

    &__title{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        position: relative;
        margin-bottom: 56px;
        text-transform: uppercase;
        &::after{
            content: '';
            width: 121px;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: -15px;
            left: 50%;
            margin-left: -60px;
        }
    }
    &__description{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
        max-width: 800px;
    }
}

@media (max-width: 750px){
    .delivery-block{
        height: auto;
        padding-bottom: 30px;
        &__first{
            padding-top: 15px;
        }
    }
}

@media (max-width: 500px){
    .delivery__title{
        font-size: 18px;
        line-height: 30px;
    }
}