.header {
    width: 100%;
    background: #0F0F0F;
    position: fixed;
    top: 0;
    z-index: 99;

    &-block {
        width: 95%;
        max-width: 1200px;
        margin: auto;
        padding: 13px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: inherit;

        &__logo {
            svg {
                width: 100px;
                height: 30px;
                fill: #FFFFFF;
            }

            &:hover {
                svg {
                    fill: #7b7575;
                }
            }
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        margin-left: auto;
        transform: translateX(0);
        transition: .3s;

        &__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 80px;
        }

        &__link {
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-right: 40px;
            }

            &:hover {
                color: #7b7575;
            }
        }

        &__social {
            display: flex;
            align-items: center;

            &-link {
                svg {
                    box-sizing: inherit;
                    fill: #fff;
                }

                &:not(:last-child) {
                    margin-right: 21px;
                }

                &:hover {
                    svg {
                        fill: #7b7575;
                    }

                }
            }
        }
    }
}

.mobail-menu {
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    top: -2px;

    &__btn {
        position: relative;
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
        border-radius: 30px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            display: block;
            border-radius: 30px;
            transition: .3s;
            transform: rotate(0);
        }

        &:before {
            margin-top: -7px;
        }

        &:after {
            margin-top: 7px;
        }

        &_active {
            height: 0;

            &::before {
                transform: rotate(45deg);
                margin-top: 0;
            }

            &::after {
                transform: rotate(-45deg);
                margin-top: 0;
            }
        }
    }
}

.link-shopping-cart{
    position: relative;
    display: flex;
    align-items: center;
}
.icon-shopping-cart{
    height: 33px;
    width: 33px;
}
.number-shopping-cart{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    padding-top: 4px;
    text-align: center;
    top: -3px;
    right: -7px;
    font-size: 13px;
    line-height: 13px;
    background: #FF1F1F;
    border-radius: 20px;
}

@media (max-width: 821px) {
    .header {
        &-nav {
            margin: 0;
            position: fixed;
            width: 100%;
            top: 60px;
            left: 0;
            height: calc(100vh - 60px);
            background: #0F0F0F;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 10%;
            transform: translateX(-100%);

            &_active {
                transform: translateX(0);
            }

            &__menu {
                margin: 0;
                flex-direction: column;
                height: 40%;
            }

            &__link {
                font-size: 30px;

                &:not(:last-child) {
                    margin: 0;
                }
            }
        }
    }

    .mobail-menu {
        display: flex;
    }
}

@media (max-width: 400px) {
    .header-nav__link{
        font-size: 20px;
    }
}