.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        position: relative;
        max-width: 1160px;
        min-height: 670px;
        max-height: 100vh;
        width: 100vw;
        background: #000001;
        display: flex;
        align-items: flex-start;
        padding: 60px;
        padding-bottom: 26px;
        box-sizing: border-box;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;

        svg {
            fill: #fff;
            width: 30px;
            height: 30px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;


        &_left {
            max-width: 350px;
            width: 90%;
            margin-right: 60px;
            align-items: center;
        }

        // .modal__block_right

        &_right {
            height: 100%;
        }
    }

    &__img {
        max-width: 350px;
        max-height: 300px;
        width: 100%;
        height: 300px;
        margin-bottom: 24px;
    }

    &__name {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    &__title {
        font-size: 36px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    &__price {
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    &__select {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    // .modal__btn

    &__btn {
        width: 203px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        font-size: 24px;
        line-height: 27px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    // .modal__description

    &__description {
        font-size: 20px;
        line-height: 22px;
        text-align: justify;
    }
}

.select-block {

    &__title {
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    &__select {
        width: 136px;
        height: 27px;
        outline: none;
        font-size: 18px;
    }

    &__item {
        &:hover {
            background: #7b7575;
        }

        &:focus {
            background: #7b7575;
        }
    }
}

@media (max-width: 1025px) {
    .modal {

        &__content {
            flex-direction: column;
            height: 100vh;
            padding: 30px;
        }

        &__block {

            &_left {
                margin-right: 0;
            }

            &_right {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-around;
                height: auto;
            }
        }

        &__name {
            display: none;
        }

        &__title {
            margin-bottom: 0;
        }

        &__price {
            margin-bottom: 0;
        }

        &__select {
            flex-direction: row;
            margin-bottom: 0;
            align-items: flex-end;
        }

        &__btn {
            margin-bottom: 0;
        }

        &__description {
            margin-top: 30px;
            margin-bottom: auto;
            height: auto;
        }
    }

    .select-block {

        &__title {
            margin-bottom: 0;
            margin-right: 10px;
        }
    
        &__select {
            width: 136px;
            height: 27px;
            outline: none;
            font-size: 18px;
        }
    }
}

@media (max-width: 813px) {
    .modal {
        justify-content: flex-start;
        align-items: start;

        &__content {
            flex-direction: column;
            height: 100vh;
            justify-content: space-between;
            overflow-y: scroll;
        }

        &__name {
            display: none;
        }
    }
}

@media (max-width: 570px) {
    .modal__block_right{
        justify-content: space-between
    }
}

@media (max-width: 500px) {
    .modal {
        justify-content: flex-start;
        align-items: start;
        &__content {
            padding: 30px;
            width: 100%;
            overflow-y: scroll;
        }

        &__img {
            width: 100%;
            height: 220px;
        }

        &__title {
            font-size: 18px;
        }

        &__price {
            font-size: 14px;
        }

        &__btn {
            width: 160px;
            height: 37px;
            font-size: 16px;

        }

        &__description {
            font-size: 14px;
        }
    }

    .select-block {
        flex-basis: 100%;
        justify-content: space-between;
        margin: 20px 0;

        &__title {
            font-size: 14px;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 330px) {
    .select-block {
        flex-wrap: wrap;

        &__title {
            margin-bottom: 16px;
        }
    }
}